
.block {

  border-radius: 25px;
  border: 2px solid gray;
  padding: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 10px;
  display: inline-block;
}
.block2{
  text-align: center;
  background-color: gray;
  border-radius: 25px;
  border: 2px solid gray;
  padding: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 10px;
  display: inline-block;
}
h1 {
  text-align: center;
}
button {
  margin: 5px;
}
#buttons {
  text-align: center;
}